<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button  defaultHref="home" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   
 <ion-card>
  <ion-card-content>
    <ion-card-title>Autor</ion-card-title>

    <p>Zobrazování tibetské abecedy.</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-card-title>Použití</ion-card-title>

    <p>Nahrát abecedu ze serveru dramatik.cz.</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-card-title>Změny</ion-card-title>

    <p>Changelog.txt</p>
  </ion-card-content>
</ion-card>
</ion-content>
