<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-menu-toggle>
       <ion-button>
         <ion-icon slot="icon-only" name="menu"></ion-icon>
       </ion-button>
     </ion-menu-toggle>

    </ion-buttons>
    <ion-title>
      Alphabet:  {{ global.version }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="back">
    <!-- div class="nadslovo" #myButton (click)="myTap($event, item)" -->
    <div class="nadslovo" #myButton (click)="myAnimate($event, item)">
         <div id="slovo" class="slovo" >
           {{tznak}}
         </div>
         <div id="Word2" class="slovo" >
           {{vyslov}}
         </div>
     </div> 
<!-- 
  
  <p>Loaded: {{ hermes.loaded }}</p>
  <p>List: <a [href]="'/list'">GO</a> tohle nefunguje: cannot read property length of undefined</p>
  <p>Spravne: <ion-button href="/list" routerDirection="forward">GO2 </ion-button> </p>


   <button ion-button full (click)="hermes.loadXML()">Nacti XML</button>
   <button ion-button full (click)="hermes.selectNode('//RECS/REC')">SelectNode</button>
   <button ion-button full (click)="openLocalSpz()">Seznam SPZ</button>
   <button ion-button full (click)="hermes.loadXSL()">loadXSL</button>
   <button ion-button full (click)="hermes.showData('WAPKA')">ShowData</button>
   -->
 </div>
</ion-content>